.btn {
	display: flex;
	padding: 6px;
	align-items: flex-start;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid $LGrey;
	background: $white;
	transition: all 0.3s ease-in-out;
	color: $DGrey;
	
	svg {
		stroke: $DGrey;
		width: 24px;
    height: 24px;
	}

	&:hover {
		border-color: $black;
		svg {
			stroke: $black;
		}
	}
}