$accent: hsl(187, 98%, 24%);
$DGrey: #635c73;
$darkGrey: #8B8D9B;
$black: #24143e;
$MGrey: #a3a8ad;
$Grey: #c4c9cf;
$LGrey: #dbdee2;
$white: #fff;
$main: #922fb5;
$main-hover: #9547b0;
$red: #e23c31;
$greyBg: #f6f3f7;
$green: #25b757;
$lightGreen: #45E4AB;
$dark-grey: #eceff2;
$blue: #f8f2ff;
$statusOrange: #fff2de;
$statusPink: #f9ebff;
$statusGreen: #ddf6e7;
$statusRed: #FCE9E8;
$shadowDark: #000000;
$lightBlue: #4FBDE0;
$med: #E7961D;
$darkBlue: #14253EB3;
$lowPriory: #6BD0B8;
$medPriory: #F4AE44;
$hightPriory: #E24662;
$lightGreen2: #E9FFE5;
$green2: #4F9D40;
$action1: #B35ED1;
$action1Bg: #FAEDFF;

$action2: #2096AF;
$action2Bg: #EBFBFF;

$action3: #4B58CF;
$action3Bg: #E5E8FF;

$action4: #23AF20;
$action4Bg: #EBFFEB;

$action5: #20AF8D;
$action5Bg: #E4FFF9;

$action6: #6056CF;
$action6Bg: #EFEEFF;

