$xl: 1180px!important;

$fontDefault: "SF Pro Display Regular", sans-serif;//400
$fontDefaultMedium: "SF Pro Display Medium", sans-serif;//500
$fontDefaultSemibold: "SF Pro Display Semibold", sans-serif;//600
$fontDefaultBold: "SF Pro Display Bold", sans-serif;//700
